#chat_window {
	background-color: rbg(220, 220, 220);
	height: 600px;
	overflow: auto;
}

.chat_meta {
    height: 35px;
    width: 500px;
	background-color: #dddddd;
}

.status_bar {
	display: inline-block;
	width: 125px;
	height: 20px;
	padding: 0;
	border-radius: 20px;
	overflow: hidden;
}

.dark {
	border: 2px solid #dddddd;
	background-color: #dddddd;
}

.light {
	border: 2px solid #ffffff;
	background-color: #ffffff;
}

#move_back_icon_container {
	padding: 3px 5px;
}

#move_back_icon  {
	background-repeat: no-repeat;
	height: 30px;
	width: 40px;
}

#chat_meta_container {
	padding: 7px 10px;
}

#chat_meta_container a {
	text-decoration: underline;
}

#chat_meta_container #chat_meta_left {
	float: left;
}

#chat_meta_container #chat_meta_right {
	float: right;
}
